.Allposts-grid{
    display: grid;
    grid-template-areas:
    "topic time"
    "name name"
    "contentpost contentpost"
    "likes comments";
    grid-template-columns: 70% 30%;
    grid-template-rows: auto 60px auto 40px;
    column-gap: 5px;
    row-gap: 10px;

}
.username-posts{
    grid-area: name;
    font-size: 1.6rem;

}
.topics-posts{
    grid-area: topic;
    font-size: 2rem;

}
.time-posts{
    grid-area: time;
    text-align: right;
    color: rgba(40, 150, 103, 255);


}
.post-content{
    grid-area: contentpost;
    word-wrap: break-word;


    

}
.likes-posts{
    grid-area: likes;
    font-weight: bold;
    font-size: 1.5vw;
    width: 100%;
    
    

}
.comment-posts{
    grid-area: comments;
    font-weight: bold;
    font-size: 1.5vw;
    width: 100%;
    
}
