@media only screen and (min-width:1061px){
  .privacy-policy-container {
      display: flex;
      flex-direction: column;
    align-items: center;
    margin-top: 50px;
    
    background-color: rgb(219 219 219);
    
  }
  
  .privacy-text-container{
      width: 50%;
      max-width: 60% !important; 
      align-items: center;
      display: flex;
    flex-direction: column;
      
  }
  
  .privacy-content-text{
      color: black;
      font-weight:100;
      
      padding-top: 20px;
      font-size: 1rem;
      
      
  }
  .black-text{
    color: black;
  }
  }
  @media only screen and (max-width:1062px){
    .privacy-policy-container {
      display: flex;
      flex-direction: column;
    align-items: center;
    
    margin: auto;
    background-color: rgb(219 219 219);
    
  }
  
  .privacy-text-container{
      width: 80vw;
      max-width: 90vw; 
      align-items: center;
      display: flex;
    flex-direction: column;
      
  }
  
  .privacy-content-text{
      color:black;
      font-weight:100;
      
      padding-top: 20px;
      font-size: 0.8rem;
      
      
  }
  .black-text{
    color: black;
  }
  }