@media only screen and (min-width:1061px){
.prompt-container {
  margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .lawyer-info{
    display: grid;
    grid-template-areas:
    "specialization rating"
    "experience price";
    
    grid-template-columns: 50% 50%;
    grid-template-rows: 40px 40px;
    column-gap: 2vw;
    row-gap: 5vh;
  }
  
  .specialization{
    grid-area: specialization;
    text-align: center;

  }
  .rating{
    grid-area:  rating;
    text-align: center;
  }
  .experience{
    grid-area:  experience;
    text-align: center;
  }
  .price{
    grid-area:  price;
    text-align: center;
  }
  .lawyer-email{
    text-align: center;
    
  }
  .laywer-card{
    display: flex;
    flex-direction: column;
    background-color: white;
  
  padding: 1rem;
  margin-bottom: 1rem;
  color: black;
  border-radius: 10px;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
  height: fit-content;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  border:1px solid;
  border-color: rgba(40, 150, 103, 200);
}
.output-container {
    width: 50%;
    max-width: 60%;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    word-wrap: break-word;
    white-space: initial;
    outline-style: solid;
    border: 2px solid;
    outline-color: rgba(40, 150, 103, 200);
    
}


.action-btn{
  width: 50%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  
  
}

.action-btn p{
  font-size: 13px;
  margin: auto;
  align-items: center;
}

.action-btn button:hover{
  background-color:rgb(18, 66, 44);
}

.action-btn button{
  width: 50%;
 

  height: 30px;
  
  border: none;
  
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.5s;

}
.apli-btn {
  background-color: rgba(40, 150, 103, 200);
  
  border-bottom-right-radius: 15px;
  
  border-bottom-left-radius: 15px;

}

.lawyer-btn {

  background-color: rgba(40, 150, 103, 200);
  border-bottom-right-radius: 15px;
  
  border-bottom-left-radius: 15px;
  

}

.generate-btn {
  background-color: rgba(40, 150, 103, 200);
  border-bottom-right-radius: 15px;
  
  border-bottom-left-radius: 15px;
}

.output-container.show {
    height: auto;
}

}
@media only screen and (max-width:1060px){
  .prompt-container {
    margin-top: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .output-container {
      width: 80vw;
      max-width: 90vw;
      background-color: #fff;
      border-radius: 5px;
      padding: 20px;
      word-wrap: break-word;
      white-space: initial;
      
  }
    
  .output-container p{
      width: 80%;
      max-width: 90%;
      background-color: #fff;
      border-radius: 5px;
      padding: 20px;
      word-wrap: break-word;
  }
  
  .action-btn{
    width: 80%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    
    
  }
  .laywer-card{
    display: flex;
    flex-direction: column;
    background-color: white;
  
  padding: 1rem;
  margin-bottom: 1rem;
  color: black;
  border-radius: 10px;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
  height: fit-content;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  border:1px solid;
  border-color: rgba(40, 150, 103, 200);
}
  
  .action-btn p{
    font-size: 10px;
    margin: auto;
    align-items: center;
  }
  
  .action-btn button:hover{
    background-color:rgb(18, 66, 44);
  }
  
  .action-btn button{
    width: 50%;
    
    height: 30px;
    
    border: none;
    
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.5s;
  
  }
  .apli-btn {
    background-color: rgba(40, 150, 103, 200);
    
    border-bottom-right-radius: 15px;
    
    border-bottom-left-radius: 15px;
  
  }
  .lawyer-info{
    display: grid;
    grid-template-areas:
    "specialization rating"
    "experience price";
    
    grid-template-columns: 50% 50%;
    grid-template-rows: 40px 40px;
    column-gap: 2vw;
    row-gap: 5vh;
  }
  
  .specialization{
    grid-area: specialization;
    text-align: center;

  }
  .rating{
    grid-area:  rating;
    text-align: center;
  }
  .experience{
    grid-area:  experience;
    text-align: center;
  }
  .price{
    grid-area:  price;
    text-align: center;
  }
  .lawyer-email{
    text-align: center;
    
  }
  
  .lawyer-btn {
  
    background-color: rgba(40, 150, 103, 200);
    border-bottom-right-radius: 15px;
    
    border-bottom-left-radius: 15px;
    
  
  }
  
  .generate-btn {
    background-color: rgba(40, 150, 103, 200);
    border-bottom-right-radius: 15px;
    
    border-bottom-left-radius: 15px;
  }
  
  .output-container.show {
      height: auto;
  }
}